//
// Button
// -----------------

@import "../../sass/includes";


.btn {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 0.8em 1em;
    text-align: center;
    border: 5px solid $gold;
    color: $gold;
    font-weight: $ultra;
    text-transform: uppercase;
    font-size: 2em;
    transition: background $transTimeSlow,
                border $transTimeSlow,
                color $transTimeSlow;

    &:hover {
        color: $white;
        background-color: $teal;
        border: 5px solid $teal;
    }
    &:focus {}
    &.active, &:active {}
    &.disabled, &[disabled] {
        opacity: 0.4;
        cursor: default;
    }

    &.small {
        padding: 0.4em 0.4em 0.3em 0.4em;
    }
}


button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: 0;
    line-height: 1;
    cursor: pointer;
}

@include tablet {
    .btn {
        width: auto;
    }
}
