//
// Site Nav
// ---------------------------

@import "../../sass/includes";

.nav {
    @extend %spread;
    display: none;
    z-index: 99;

    &.isOpen {
        display: block;
        background-color: $blue;
    }
}

.links {
    padding: 2em;
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    align-content: center;
}

.link {
    font-size: 4em;
    width: 100%;
}
